<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<!-- This button helps with mobile devices where the screen is small and the navbar should be collapsible. -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- The list of each navbar link. -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Add new package</a>
				</li>
			</ul>
		</div>
	</div>
</nav>