{% from "includes/form_renderer.html" import render_form %}
{% extends "main_layout_container.html" %}
{% block body %}
	<div class="card" style="width: 25rem; margin: auto; margin-top: 25px;">
		<div class="card-body">
			<p class="card-title fw-bold fs-6">Enter the email you used to create your account.</h5>
			<div class="card-text">
				<!-- This form will submit to itself -->
				<form action="" method="POST">
					<!-- The renderer does all of the work of getting the fields and adding them to the html -->
					{{render_form(form)}}
					<div class="d-grid"><input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="Go"/></div>
				</form>
			</div>
		</div>
  	</div>
{% endblock %}