{% from "includes/form_renderer.html" import render_form %}
{% extends "main_layout_container.html" %}
{% block body %}
	<div class="text-center" style="margin-top: 30px; padding: 20px;">
		<p style="margin-bottom: 0px;">We sent an email to {{ email }} containing further instructions. Please check your inbox.</p>
		<p>You may need to wait a few minutes for the email to arrive. Make sure to check your spam folder.</p>
	</div>

	<div class="d-grid text-center form-control" style="width: 8em; margin: auto;">
		<p>Still not there?</p>
		<a class="btn btn-outline-primary" href="/resendEmail/2/{{ email }}">Resend</a>
	</div>
{% endblock %}