{% extends "main_layout_container.html" %}
{% block body %}
	<div class="text-center">
		<h1>{{"<<insert cool name here>>"}}</h1>
		<p>Manage all your parcels in one place, no matter where they're coming from.</p>
		<p>Easily add your tracking number, set a title, and view the details for each stage in your parcels journey.</p>
		<p>To get started, click <a href="/register"><button type="button" class="btn btn-outline-primary btn-sm">here</button></a> to create an account.</p>
	</div>
{% endblock %}