{% from "includes/form_renderer.html" import render_form %}
{% extends "main_layout_container.html" %}
{% block body %}
	<script type="text/javascript" src="{{ url_for('static', filename='packageListLogic.js') }}"></script>

	<!-- Container that holds the main html -->
	<div style="padding: 10px;" id="main-container">
		<!-- This form will submit to itself -->
		<form action="" method="POST">
			<!-- The renderer does all of the work of getting the fields and adding them to the html -->
			<div class="form-control">
				{{render_form(form)}}
				<input type="submit" class="btn btn-primary d-inline-block" value="Track new package" style="width: 300px;" />
			</div>
		</form>

		<br>
		<br>

		<!-- Below the form, we render each package the user is tracking in a list. These are passed in -->
		{% if not packageList %}
			<h6>You are not tracking any packages. Add one!</h6>
		<!-- If there are some things in the list then we loop through them -->
		{% else %}
		<!-- The accordion contains all of the packages -->
		<div class="accordion" id="packageListAccordion">
			{% for package in packageList %}
				<!-- Each package needs an item -->
				<div class="accordion-item" id="packageListAccordionItem-{{package['id']}}">
					<!-- Items have a header with an expansion button-->
					<h2 class="accordion-header" id="heading-{{package['id']}}">
						<div id="heading-div-{{package['id']}}" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-{{package['id']}}" aria-expanded="false" aria-controls="collapse-{{package['id']}}">

							<div style="padding:3px">
								<!-- Button that opens the title input modal -->
								<button style="margin-bottom:3px" type="button" class="btn btn-outline-primary float-right" data-bs-toggle="modal" data-bs-target="#titleInputModal" onclick="assignPackageIDToModal(`{{package['id']}}`, `titleInputModal`)">Name</button>
								<!-- Opens deletion modal -->
								<button type="button" class="btn btn-outline-danger float-right" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="assignPackageIDToModal(`{{package['id']}}`, `deleteModal`)">Delete</button>
							</div>

							<!-- LOL -->
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							<p id="packageLabel-{{package['id']}}">{{ package["title"] }}</p>
							<p>&nbsp;&nbsp;</p>

							<!-- If the package hasn't been updated for 3 weeks, then we show a little alert -->
							{% if package["current_time"] - package["last_new_data"] > 2160000 %}
								<br>
								<p class="text-warning d-inline-block" style="padding: 5px;"><span class="border border-warning">This package is old and hasn't been updated for a while. Consider deleting it? Or, <a href="/renewPackage/{{package['id']}}">renew</a> it.</span></p>
							{% endif %}
						</div>
					</h2>

					<!-- And also a body - this contains the content-->
					<div id="collapse-{{package['id']}}" class="accordion-collapse collapse" aria-labelledby="heading-{{package['id']}}" data-bs-parent="#packageListAccordion">
						<div class="accordion-body" id="accordion-body-{{package['id']}}"></div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>

	<!-- This is the modal dialog allowing the user to input text for their package title -->
	<div class="modal fade" id="titleInputModal" tabindex="-1" aria-labelledby="titleInputModal" aria-hidden="true">
		<div class="modal-dialog">
		  	<div class="modal-content">
				<!-- The header of the dialog - title bar and stuff -->
				<div class="modal-header">
			  		<h5 class="modal-title">Enter new package name:</h5>
					<!-- Second close button - X in top corner -->
			  		<button type="button" class="btn-close" id="titleInputModal-xButton" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" id="new-title-input">
					<!-- If there is an error then this error message will be unhidden by jqery -->
					<p class="text-danger d-none" id="titleInputModal-modalErrorMessage">Couldn't update name. Please try again.</p>
					<!-- This will hold the package ID of the package that this modal is for -->
					<input type="hidden" id="titleInputModal-packageIDHolder">
				</div>
				<!-- The submit and cancel button -->
				<div class="modal-footer" id="titleInputModal-modal-footer">
					<button type="button" class="btn btn-secondary" id="titleInputModal-cancelButton" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="titleInputModal-updateButton" onclick="handleModalSubmit('titleInputModal')">Update name</button>
				</div>
			</div>
		</div>
	</div>

	<!-- This is the modal dialog allowing the user to delete their package -->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="titleInputModal" aria-hidden="true">
		<div class="modal-dialog">
		  	<div class="modal-content">
				<!-- The header of the dialog - title bar and stuff -->
				<div class="modal-header">
			  		<h5 class="modal-title">Are you sure?</h5>
					<!-- Second close button - X in top corner -->
			  		<button type="button" class="btn-close" id="deleteModal-xButton" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>This cannot be undone.</p>
					<!-- If there is an error then this error message will be unhidden by jqery -->
					<p class="text-danger d-none" id="deleteModal-modalErrorMessage">Couldn't delete package. Please try again.</p>
					<!-- This will hold the package ID of the package that this modal is for -->
					<input type="hidden" id="deleteModal-packageIDHolder">
				</div>
				<!-- The submit and cancel button -->
				<div class="modal-footer" id="deleteModal-modal-footer">
					<button type="button" class="btn btn-secondary" id="deleteModal-cancelButton" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="deleteModal-updateButton" onclick="handleModalSubmit('deleteModal')">Yes delete.</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}